body {
    background-image:url($baseurl + "/assets/cat_back.png");
    background-repeat:repeat;
}

.thumb {
    max-width:100px;
    float:left;
    margin-right:20px;
    margin-bottom:10px;
}

.page-content{
    background-color:#ffffff00;

}


.wrapper{
    padding:40px;
    background-color:#ffeeaa;
    border-image:url($baseurl + "/assets/page_border.svg") 10%;
    border-image-width: 20px;
    //border-image-slice: 10%;
    border-style:solid;
    border-width:20px;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}




.printnplay{
    cursor:pointer;
}

.printnplay:not(.fullscreen){
    max-width:550px;
}

.fullscreen {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    max-height:100%;
    background:white;
    object-fit:contain;
}
